div.profileContent {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 1rem;
  section.userData {
    min-width: 45vw;
    margin-right: 2rem;
  }
  section.messagePosted {
    min-width: 40vw;
    div.postedBlock {
      border-radius: 5px;
      background-color: $themeColor-bg1;
      padding: 1rem 0;
      ul {
        width: 80%;
        li {
          width: 100%;
          list-style: none;
          text-overflow: ellipsis;

          a {
            display: inline-block;
            width: 100%;
            color: $themeColor-word;
            text-decoration: none;
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  section.userData,
  section.messagePosted {
    width: 85vw;
  }
}
