div.container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
div.container section.title {
  width: 100%;
}
div.container section.title h2 {
  display: inline-block;
  color: rgb(73, 3, 3);
  margin: 0.5rem 2rem;
  padding: 5px;
  vertical-align: middle;
  line-height: normal;
  background-color: #eee4e1;
}
div.container section.videoListBlock {
  border: 1.5px #e7d8c9 solid;
  width: 95%;
  height: auto;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.container section.videoListBlock:hover {
  cursor: pointer;
}
div.container section.videoListBlock div.videoBlock {
  width: 42vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  margin-top: 0.5rem;
}
div.container section.videoListBlock div.videoBlock iframe {
  width: 100%;
  height: 80%;
}
div.container section.videoListBlock div.videoBlock p {
  width: 100%;
  margin: 0.5rem;
  text-align: center;
}
div.container section.videoListBlock div.videoBlock div {
  margin: 0.5rem 1rem 1rem 0;
}

div.videoDetailsBg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}

section.videoDetailsBlock {
  width: 95vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  border: #b2967d;
  background-color: #eee4e1;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
}
section.videoDetailsBlock button.xMark {
  position: absolute;
  right: 0.5rem;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #b2967d;
  cursor: pointer;
  margin: 0;
  margin: 1rem;
}
section.videoDetailsBlock iframe {
  width: 80%;
  height: 70vh;
  margin: 1rem 0;
}
section.videoDetailsBlock h2 {
  width: 100%;
  text-align: center;
}
section.videoDetailsBlock h2.videoName {
  margin-top: 2rem;
}
section.videoDetailsBlock pre.lyric {
  width: 100%;
  font-size: large;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 1rem 2rem;
  margin: 1rem;
}

@media (max-width: 900px) {
  div.container section.videoListBlock div.videoBlock {
    width: 100%;
    height: 80vh;
  }
  section.videoDetailsBlock iframe {
    width: 80%;
    height: 60vh;
  }
}
@media (max-width: 700px) {
  div.container section.videoListBlock div.videoBlock {
    width: 100%;
    height: 60vh;
  }
  section.videoDetailsBlock iframe {
    width: 80%;
    height: 60vh;
  }
}
@media (max-width: 500px) {
  div.container section.videoListBlock {
    padding: 0.5rem;
  }
  div.container section.videoListBlock div.videoBlock {
    width: 100%;
    min-height: 40vh;
    max-height: 50vh;
  }
  div.container section.videoListBlock div.videoBlock iframe {
    width: 100%;
    height: 50%;
  }
  section.videoDetailsBlock iframe {
    width: 80%;
    height: 50%;
  }
}
@media (max-width: 450px) {
  div.container section.videoListBlock {
    padding: 0.5rem;
  }
  div.container section.videoListBlock div.videoBlock {
    width: 100%;
    min-height: 40vh;
    max-height: 40vh;
  }
  div.container section.videoListBlock div.videoBlock iframe {
    width: 100%;
    height: 70%;
  }
  section.videoDetailsBlock iframe {
    width: 80%;
    height: 30%;
  }
}/*# sourceMappingURL=Song.css.map */